body {
    background-color: white;
    font-family: "Courier New";
    font-size: 12px;
}

.title {
    font-family: "Lucida Console";
    color: darkred;
    font-size: 50px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

img{
    border-radius: 50%;
    float: right;
    margin-right: 10px;
}

a[href="index.html"]{
    color: darkred;
}

nav {
    position: sticky;
    top: 0;
}

.posts{
    display: flex;
    padding: 20px;
    margin: 20px;
}

@media (max-width: 400px) {

    .posts {
        display: inline;
        padding: 20px;
        margin: 20px;
    }

    nav {
        position: static;
    }

}